---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";
import MainContainer from "../components/MainContainer.astro";
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";
import ContactCard from "../components/ContactCard.astro";
---

<Layout title="Kontakt">
    <Header navUrl="kontakt" />
    <MainContainer>
        <Title title="KONTAKT" />
        <Container>
            <div
                class="text-center text-base box-bg rounded-xl w-full md:w-5/6 lg:w-[700px] sm:mx-16 mb-4 drop-shadow-lg p-4 border-t-2 border-orange-300"
            >
                <p class="text-center text-lg pb-4 mb-4">
                    Här kan du kontakta någon av oss på vår Facebook eller
                    Email.
                </p>
                <ContactCard
                    name="Tony Lindberg"
                    fblink="https://www.facebook.com/tony.lindberg.142"
                    email="lindbergt69@gmail.com"
                />

                <ContactCard
                    name="Mats Byström"
                    fblink="https://www.facebook.com/kultmats"
                />

                <ContactCard
                    name="Ola Gustafsson"
                    fblink="https://www.facebook.com/ola.gustafsson.967"
                />

                <ContactCard
                    name="Jonas Hellgren"
                    fblink="https://www.facebook.com/jonas.hellgren.3"
                />
            </div>
        </Container>
    </MainContainer>
</Layout>
