---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";
import MainContainer from "../components/MainContainer.astro";
import Title from "../components/Title.astro";
import Spelning from "../components/Spelning.astro";

/*const spelningar = true;*/
const spelningar = false;
---

<Layout title="Spelningar">
    <Header navUrl="spelningar" />
    <MainContainer>
        <Title title="SPELNINGAR" />
        {
            !spelningar && (
                <div class="bg-red-900 text-center text-lg box-bg rounded-xl w-full mb-4 drop-shadow-lg border-t-2 border-b-2 border-orange-300">
                    <p class="rounded-t-lg pt-2 pb-2 text-2xl">
                        <span class="font-semibold">Inga just nu...</span>
                    </p>
                </div>
            )
        }

        <Spelning
            inactive
            location="Two Lads Pub"
            date="3/2 Feb"
            city="Alingsås"
            time="21.00"
            bgCSS="two-lads-bg"
            maps="https://maps.app.goo.gl/gejYLygGS43jnHFz9"
            entrance
            cost="100"
        />

        <Spelning
            inactive
            location="Two Lads Pub"
            date="9/12 Dec"
            year="2023"
            city="Alingsås"
            time="21.00"
            bgCSS="two-lads-bg"
            maps="https://maps.app.goo.gl/gejYLygGS43jnHFz9"
        />
    </MainContainer>
</Layout>
