---
const pathname = new URL(Astro.request.url).pathname;
/*const navUrl = pathname.slice(1);*/ // remove the first "/"
---

<section class="bg-transparent text-white mx-auto pt-8 w-full top-0 z-50">
    <!-- <p class="text-center">{pathname}</p> -->
    <nav
        class="flex items-center justify-center py-4 sm:py-4 mx-auto max-w-4xl antialiased"
    >
        <div class="text-xs sm:text-lg font-bold sm:font-semibold">
            <a
                href="/"
                class={pathname === "/"
                    ? "current bg-red-900 text-orange-300 border sm:border-2 border-orange-300 py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"
                    : "py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"}
                data-astro-prefetch="viewport">HEM</a
            >
            ·
            <a
                href="/om-oss"
                class={pathname === "/om-oss/"
                    ? "current bg-red-900 text-orange-300 border sm:border-2 border-orange-300 py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"
                    : "py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"}
                data-astro-prefetch="viewport">BANDET</a
            >
            ·
            <a
                href="/spelningar"
                class={pathname === "/spelningar/"
                    ? "current bg-red-900 text-orange-300 border sm:border-2 border-orange-300 py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"
                    : "py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"}
                data-astro-prefetch="viewport">SPELNINGAR</a
            >
            ·
            <a
                href="/kontakt"
                class={pathname === "/kontakt/"
                    ? "current bg-red-900 text-orange-300 border sm:border-2 border-orange-300 py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"
                    : "py-2 rounded-lg sm:py-2 hover:text-orange-300 px-2"}
                data-astro-prefetch="viewport">KONTAKT</a
            >
        </div>
    </nav>
</section>
